#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log
*.js
!config/*
!karma.conf.js
!webpack.config.js
*.map
*.d.ts
!make.js
!examples/**/*.js
coverage
*.metadata.json
bundles

#################
## JetBrains
#################
.idea
.project
.settings

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store

