<div class="container animate-fade-in">
    <header>
        <div class="title-section">
            <h1>ngx-translate</h1>
            <p>Demo & Visualization of Hierarchy and Isolation</p>
        </div>

        <div style="display: flex; justify-content: space-between; align-items: flex-end">
            <nav>
                <button routerLink="/global" routerLinkActive="routeActive">Global</button>
                <button routerLink="/extended" routerLinkActive="routeActive">Extended</button>
                <button routerLink="/isolated" routerLinkActive="routeActive">Isolated</button>
            </nav>

            <div style="display: flex; gap: 1rem; align-items: center">
                <app-language-switch label="Root" [isRoot]="true" />
                <button
                    (click)="reloadLang()"
                    class="sub-card"
                    style="
                        padding: 0.5rem 1rem;
                        margin: 0;
                        min-width: auto;
                        min-height: auto;
                        font-size: 0.75rem;
                        border-radius: 8px;
                        cursor: pointer;
                    "
                >
                    Reload
                </button>
            </div>
        </div>
    </header>

    <main>
        <router-outlet></router-outlet>
    </main>


</div>

<app-console />
