:host {
    display: block;
    margin-left: auto;
    text-align: right;

    button {
        background-color: var(--mat-sys-secondary);
        color: var(--mat-sys-on-secondary);

        &:hover {
            box-shadow: var(--mat-sys-level3);
            &:active {
                box-shadow: var(--mat-sys-level1);
            }
        }

        &.active {
            background-color: var(--mat-sys-primary);
            color: var(--mat-sys-on-primary);
            box-shadow: unset;
        }
    }
}
